<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokedex3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B3A93961E8E924C00B0E7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3A93AA1E8E924D00B0E7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3A93B51E8E924D00B0E7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
